doctype html
html
    head
      title Piano Studio
      style
        include style.css
    body
      h3 Add A Lesson
      form(action="/add_lesson" method="post" target="_bank")
        |Lesson Name:
        input(type="text" name="add_lesson_name")#add_lesson_name
        br
        |Date:
        input(name="add_lesson_date" type="date")#add_lesson_date
        br
        |Time:
        input(name="add_lesson_time" type="time")#add_lesson_time
        br
        button(type="submit") Submit
      h3 Un-Verified Lessons
      each item in lessons
        form(class="attendance_block" action="/verify_lesson" method="post")
          p=item.name //lesson id
          //p=item['name']
          //p=item['datetime'] //need to hash out types with this
          //commenting out this piece. don't need it right now
          //|verified?
          //input(type="checkbox" name="is_verified")#is_verified
          br
          button(type="submit") Enter